body {
    padding: 5px;
    background-color: #fafafa;
    width: 480px;
}

div.navbar a.brand {
    font-size: 12pt;
    margin-left: 10px;
    max-width: 300px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.container {
    padding-top: 40px;
    width: 100%;
}

div.message {
    margin: 5px;
    border-bottom: #cccccc 1px solid;
    clear: left;
    min-height: 50px;
}

div.message img.user-icon {
    box-shadow: 1px 1px 2px #999999;
    max-width: 40px;
    max-height: 40px;
    border-radius: 3px;
    float: left;
}

div.message {
    font-size: 10pt;
}
div.message span.user-name {
}
div.message span.date-time {
    text-align: right;
    color: #666;
}
