body {
    padding: 5px;
    background-color: #fafafa;
    width: 480px;
}

div.navbar a.brand {
    font-size: 12pt;
    margin-left: 10px;
    max-width: 300px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.container {
    padding-top: 50px;
    width: 100%;
}

img.loading-img {
    display: block;
    margin: auto;
    padding: 10px;
}

div.message-box textarea {
    width: 100%;
}

div.message {
    padding-top: 5px;
    margin: 5px;
    border-top: #cccccc 1px solid;
    clear: left;
    min-height: 40px;
}

div.message img.user-icon {
    box-shadow: 1px 1px 2px #999999;
    max-width: 40px;
    max-height: 40px;
    border-radius: 3px;
    float: left;
}

div.message {
    font-size: 10pt;
}
div.message span.user-name {
}
div.message span.date-time {
    font-size: 8pt;
    float: right;
    text-align: right;
    color: #666;
}

table.setting input {
    width: 300px;
}

div.gcm-checkbox input {
    margin: 0px;
}